.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  display: flex;
  margin: 0 auto;
  max-width: 1024px;
  width: calc(100% - 40px);
}
.img--photo {
  border-radius: 50%;
}
.img--header {
  font-size: 20px;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Noto Sans TC', sans-serif;
}
.img--text {
  font-size: 14px;
  margin: 0px;
}
.section--left {
  color: white;
  font-family: 'Noto Sans TC', sans-serif;
  width: 320px;
  background-color: rgb(0, 61, 115);
}
.contacts,
.skills {
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 20px;
}
.section--container {
  padding-top: 20px;
  padding-left: 30px;
}
.section--container,
.main,
.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  width: 100%;
}

.header--text {
  font-size: 20px;
  width: 100%;
  padding: 10px 10px 10px 30px;
  margin-top: 30px;
  margin-bottom: 0px;
  display: inline-block;
  background-color: rgb(0, 49, 92);
  box-sizing: border-box;
}
.contacts--text,
.skills--text {
  padding-left: 30px;
  font-size: 16px;
  margin: 15px 0px 0px 0px;
}
.contacts--text__second {
  padding-left: 37px;
  margin: 0px;
  font-size: 14px;
  font-weight: 100;
}
.contacts--text__link {
  text-decoration: none;
  cursor: pointer;
  padding-left: 37px;
  margin: 0px;
  font-size: 14px;
  font-weight: 100;
  color: white;
}
.contacts--text__link:hover,
.about--link:hover {
  color: rgb(33, 189, 66);
}
.contacts--list,
.skills--list {
  list-style: none;
  padding: 0px;
}
.skills--list li,
.contacts--list li {
  margin-bottom: 40px;
}

.skills--scale {
  margin-top: 5px;
  margin-left: 37px;
  width: 200px;
  height: 10px;
}
.skills--scale__html {
  background: linear-gradient(
    to right,
    rgb(255, 255, 255),
    rgb(255, 255, 255) 95%,
    rgb(14, 2, 70) 95%
  );
}
.skills--scale__js {
  background: linear-gradient(
    to right,
    rgb(255, 255, 255),
    rgb(255, 255, 255) 75%,
    rgb(14, 2, 70) 75%
  );
}
.skills--scale__react,
.skills--scale__git,
.skills--scale__webpack {
  background: linear-gradient(
    to right,
    rgb(255, 255, 255),
    rgb(255, 255, 255) 75%,
    rgb(14, 2, 70) 75%
  );
}
.skills--scale__react {
  background: linear-gradient(
    to right,
    rgb(255, 255, 255),
    rgb(255, 255, 255) 65%,
    rgb(14, 2, 70) 65%
  );
}
.skills--scale__english {
  background: linear-gradient(
    to right,
    rgb(255, 255, 255),
    rgb(255, 255, 255) 70%,
    rgb(14, 2, 70) 70%
  );
}
.section--right {
  padding: 10px 0px;
}
.about--text {
  padding-left: 25px;
  color: rgb(14, 2, 70);
  max-width: 510px;
  font-family: 'Noto Sans TC', sans-serif;
}
.about--header {
  color: rgb(14, 2, 70);
  padding: 10px 10px 10px 20px;
  margin-left: 20px;
  border-top: 1px solid rgb(14, 2, 70);
  border-bottom: 1px solid rgb(14, 2, 70);
}
.about--link {
  cursor: pointer;
  color: rgb(14, 2, 70);
  text-decoration: none;
}
.work--item,
.work--header,
.work--place {
  margin-left: 25px;
}
.work--date {
  min-width: 65px;
  margin-bottom: 0px;
  margin-top: 15px;
}
.work--header {
  margin-top: 15px;
}
.work {
  display: flex;
  justify-content: flex-start;
}

.work--list {
  max-width: 450px;
}
