.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  margin: 0px;
}
html {
  font-family: 'Noto Sans TC', sans-serif;
  scroll-behavior: smooth;
}
ul {
  list-style: none;
  margin: 0px;
}
.about ul {
  padding-left: 50px;
}
.js {
  font-size: 14px;
}
.container {
  display: flex;
  margin: 0 auto;
  max-width: 1024px;
  width: calc(100% - 40px);
}

.img--photo {
  border-radius: 50%;
}

.img--header {
  font-size: 20px;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Noto Sans TC', sans-serif;
}

.img--text {
  font-size: 14px;
  margin: 0px;
}

.section--left {
  position: relative;
  color: white;
  font-family: 'Noto Sans TC', sans-serif;
  width: 320px;
  padding-right: 5px;
  background-color: rgb(0, 61, 115);
}

.contacts,
.skills {
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 20px;
}

.section--container {
  padding-top: 20px;
  padding-left: 30px;
=======
}

.section--container,
.main,
.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  width: 100%;
}
.section--container {
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  padding-top: 50px;
}
.header--text {
  font-size: 20px;
  width: 100%;
  padding: 10px 10px 10px 30px;
  margin-top: 30px;
  margin-bottom: 0px;
  display: inline-block;
  background-color: rgb(0, 49, 92);
  box-sizing: border-box;
}

.contacts--text,
.skills--text {
  padding-left: 15px;
  font-size: 16px;
  margin: 15px 0px 0px 0px;
}

.contacts--text__second {
  padding-left: 37px;
  margin: 0px;
  font-size: 14px;
  font-weight: 100;
}

.contacts--text__link {
  text-decoration: none;
  cursor: pointer;
  padding-left: 27px;
  margin: 0px;
  font-size: 14px;
  font-weight: 100;
  color: white;
}

.contacts--text__link:hover,
.about--link:hover {
  color: rgb(33, 189, 66);
}

.contacts--list,
.skills--list {
  list-style: none;
  padding: 0px;
}

.skills--list li,
.contacts--list li {
  margin-bottom: 10px;
}

.skills--scale {
  margin-top: 5px;
  margin-left: 37px;
  width: 200px;
  height: 10px;
}

.skills--scale__html {
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255) 95%, rgb(14, 2, 70) 95%);
}

.skills--scale__js {
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255) 75%, rgb(14, 2, 70) 75%);
}

.skills--scale__react,
.skills--scale__git,
.skills--scale__webpack {
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255) 75%, rgb(14, 2, 70) 75%);
}

.skills--scale__react {
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255) 65%, rgb(14, 2, 70) 65%);
}

.skills--scale__english {
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255) 70%, rgb(14, 2, 70) 70%);
}

.section--right {
  padding: 10px 0px;
}

.about--text {
  color: rgb(14, 2, 70);
  max-width: 510px;
  font-family: 'Noto Sans TC', sans-serif;
}

.about--item {
  margin-left: 17px;
  margin-right: 17px;
}
.about--stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: rgb(14, 2, 70);
}

.about--header {
  color: rgb(14, 2, 70);
  padding: 10px 10px 10px 20px;
  margin-left: 20px;
  border-top: 1px solid rgb(14, 2, 70);
  border-bottom: 1px solid rgb(14, 2, 70);
}

.about--link {
  cursor: pointer;
  color: rgb(14, 2, 70);
  text-decoration: none;
}

.work--item,
.work--header,
.work--place {
  margin-left: 25px;
}

.work--date {
  min-width: 65px;
  margin-bottom: 0px;
  margin-top: 15px;
}

.work--header {
  margin-top: 15px;
}

.work {
  display: flex;
  justify-content: flex-start;
}

.work--list {
  max-width: 450px;
}

footer {
  text-align: center;
}

.rs--link {
  display: inline-block;
  width: 50px;
  height: 30px;
  background: url('./rs_school_js.svg');
  background-repeat: no-repeat;
}
.projects--item {
  display: flex;
  font-size: 16px;
  display: inline-block;
  box-sizing: border-box;
  width: calc(100% - 20px);
  margin: 10px;
  padding: 10px;
  border: 1px solid rgb(14, 2, 70);
  text-decoration: none;
  font-size: 18px;
  color: white;
}
.projects--item:hover {
  cursor: pointer;
  border: 1px solid rgb(33, 189, 66);
}
.projects--header {
  font-size: 16px;
  margin: 4px 0px;
}
.projects--item:hover .projects--header {
  color: rgb(33, 189, 66);
}
.project--text {
  font-size: 14px;
  margin: 2px 0px 2px -20px;
}
.project--text__main {
  margin-top: 4px;
}
.projects--image {
  margin: 0 20px;
  border-radius: 10px;
}
.burger {
  position: absolute;
  display: inline-block;
  left: 10px;
  top: 10px;
  z-index: 3;
  border: 0;
  background: none;
  outline: 0;
  padding: 0;
  cursor: pointer;
  border-top: 2px solid white;
  height: 20px;
  width: 23px;
  transition: border-bottom 1s ease-in-out;
  -webkit-transition: border-bottom 1s ease-in-out;
}
.burger-check {
  display: none;
}
.burger {
  display: none;
}
.burger:before {
  content: '';
  display: block;
  border-bottom: 2px solid white;
  width: 100%;
  margin-top: 5px;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}
.burger:after {
  content: '';
  display: block;
  border-bottom: 2px solid white;
  width: 100%;
  margin-top: 5px;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}
.burger-check:checked ~ .burger {
  border-top: 2px solid transparent;
  transition: border-bottom 0.8s ease-in-out;
  -webkit-transition: border-bottom 0.8s ease-in-out;
}
.burger-check:checked ~ .burger:before {
  transform: rotate(-405deg) translateY(1px) translateX(-1px);
  -webkit-transform: rotate(-405deg) translateY(1px) translateX(-1px);
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}
.burger-check:checked ~ .burger:after {
  transform: rotate(405deg) translateY(-4px) translateX(-4px);
  -webkit-transform: rotate(405deg) translateY(-4px) translateX(-4px);
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burger-check:checked ~ .navigation {
  z-index: 2;
  max-height: 30px;
}
.navigation {
  overflow: hidden;
  max-height: 30px;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 170px;
  width: 100%;
  background: rgb(0, 49, 92);
}
.navigation__list {
  padding-left: 0px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.navigation__item {
  margin: 0 auto;
}
.navigation__link {
  color: white;
  text-decoration: none;
}
.navigation__link:hover {
  color: rgb(33, 189, 66);
}
.navigation__text {
  margin-top: 0px;
  margin-bottom: 0px;
}
.iframe {
  width: 48vw;
  height: 27vw;
  max-width: 560px;
  max-height: 315px;
  margin-left: 40px;
}
@media (max-width: 955px) {
  .container {
    margin: 0px 0px 0px 0px;
    width: 100%;
  }
  .about {
    padding-right: 5px;
  }
  .about ul {
    padding-left: 10px;
  }
}
@media (max-width: 785px) {
  .iframe {
    margin-left: 20px;
  }
}
@media (max-width: 685px) {
  .projects--item {
    margin: 10px 0px 10px 5px;
  }
  .contacts--text__link,
  .contacts--text__second {
    padding-left: 5px;
  }
  .work {
    padding-bottom: 5px;
    flex-direction: column;
  }
  .work:first-of-type {
    border-bottom: 1px dotted blue;
  }
  .work--date {
    display: inline;
  }
}
@media (max-width: 615px) {
  .iframe {
    margin-left: 5px;
  }
}
@media (max-width: 585px) {
  .iframe {
    width: 88vw;
    height: 49vw;
    margin-left: 15px;
  }
  .burger-check ~ .navigation {
    max-height: 0px;
  }
  .burger-check:checked ~ .navigation {
    z-index: 2;
    max-height: 312px;
  }
  .navigation__list {
    flex-direction: column;
  }
  .navigation__item {
    margin: 15px 10px;
  }
  .burger {
    display: block;
  }
  .navigation {
    max-height: 280px;
  }
  .projects--item {
    margin: 10px;
  }
  .container {
    flex-direction: column;
  }
  .section--left {
    box-sizing: border-box;
    width: 100%;
  }
  .contacts--list,
  .skills--list,
  .english {
    margin-left: calc(25% - 40px);
  }
  .projects--image {
    margin-left: calc(50% - 100px);
  }
}
